.img__backdrop {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;

  background: rgba(0, 0, 0, 0.3);
  z-index: 100;
  .img {
    height: 80%;
    width: 80%;
    padding-bottom: 50px;
  }
}

@media (max-width: 768px) and (orientation: portrait) {
  .img {
    transform: rotate(90deg);
  }
}
