.img__backdrop {
  position: fixed;
  align-items: center;
  display: flex;
  top: 0;
  left: 0;
  width: 0%;
  height: 0vh;
  background-color: rgba(0, 0, 0, 0);
  transition: width 2s, height 2s, background-color 1s ease-in-out;
  img {
    width: 0;
    height: 0;
    transition: width 2s, height 2s;
  }
}

@media (orientation: portrait) {
  .active-img {
    transform: rotate(90deg);
  }
  .img {
    transform: rotate(90deg);
  }
}

.active-img__backdrop {
  transition: width 2s, height 2s, background-color 1s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  height: 100vh;
  width: 100%;
  align-items: center;
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  .active-img {
    transition: width 2s, height 2s;
    height: 80%;
    width: 80%;
  }
}

// @keyframes slideIn {
//   from {
//     height: 0%;
//     width: 0%;
//   }
//   to {
//     height: 80%;
//     width: 80%;
//   }
// }

// @keyframes opacity {
//   from {
//     background-color: rgba(0, 0, 0, 0);
//   }
//   to {
//     background-color: rgba(0, 0, 0, 0.3);
//   }
// }
